 @import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
  
} */

@theme {
  --font-PT-sans: var(--font-geist-sans);
  --color-background: #2A1B3D;
  --color-secondary-bg: #44318D;
  --color-primary: #D83f87;
  --color-secondary: #E98074;

 
} 
html {
  scroll-behavior: smooth;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans);
  /* color: #11686B; */
  color: white;

}

.clip-path-custom {
  clip-path: polygon(0 0, 220% 0, 0% 100%, 0% 100%);
}
.clip-path-custom2 {
  clip-path: polygon(0 0, 0 100%, 240% 160%, 0 0);
  
  
}


